@model coreHotelRoomBookingAdminPortal.Models.Hotel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<br />
<form asp-action="Create" asp-controller="Hotel">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="HotelName">Hotel Name</label>
        <input type="text" asp-for="HotelName" class="form-control" placeholder="Enter Hotel Name">
        <span asp-validation-for="HotelName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelAddress">Hotel Address</label>
        <input type="text" asp-for="HotelAddress" class="form-control" placeholder="Enter Hotel Address">
        <span asp-validation-for="HotelAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelDistrict">Hotel District</label>
        <input type="text" asp-for="HotelDistrict" class="form-control" placeholder="Enter Hotel District">
        <span asp-validation-for="HotelDistrict" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelCity">Hotel City</label>
        <input type="text" asp-for="HotelCity" class="form-control" placeholder="Enter Hotel City">
        <span asp-validation-for="HotelCity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelState">Hotel State</label>
        <input type="text" asp-for="HotelState" class="form-control" placeholder="Enter Hotel State">
        <span asp-validation-for="HotelState" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelCountry">Hotel Country</label>
        <input type="text" asp-for="HotelCountry" class="form-control" placeholder="Enter Hotel Country">
        <span asp-validation-for="HotelCountry" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelEmailId">Hotel Email Id</label>
        <input type="text" asp-for="HotelEmailId" class="form-control" placeholder="Enter Hotel Email Id">
        <span asp-validation-for="HotelEmailId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelRating">Hotel Rating</label>
        <input type="text" asp-for="HotelRating" class="form-control" placeholder="Enter Hotel Rating">
        <span asp-validation-for="HotelRating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelContactNumber">Hotel Contact Number</label>
        <input type="text" asp-for="HotelContactNumber" class="form-control" placeholder="Enter Hotel Contact Number">
        <span asp-validation-for="HotelContactNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelImage">Hotel Image</label>
        <input type="text" asp-for="HotelImage" class="form-control" placeholder="Enter Hotel Image">
        <span asp-validation-for="HotelImage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelDescription">Hotel Description</label>
        <input type="text" asp-for="HotelDescription" class="form-control" placeholder="Enter Hotel Description">
        <span asp-validation-for="HotelDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="HotelTypeId">Hotel Type</label>
        <select asp-for="HotelTypeId" asp-items="ViewBag.hotelType" class="form-control"></select>
        <span asp-validation-for="HotelTypeId" class="text-danger"></span>

    </div>
    <div class="form-group">
        <button class="btn btn-info" type="submit">Submit</button>
        <br />
        <br />
        <a asp-controller="Hotel" asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</form>