@model coreHotelRoomBookingAdminPortal.Models.HotelType

@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<form asp-action="Create" asp-controller="HType">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="HotelTypeName">Hotel Type Name</label>
        <input type="text" asp-for="HotelTypeName" class="form-control" aria-describedby="emailHelp" placeholder="Enter Hotel Type Name">
        <span asp-validation-for="HotelTypeName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="HotelTypeDescription">Hotel Type Description</label>
        <input type="text" asp-for="HotelTypeDescription" class="form-control" aria-describedby="emailHelp" placeholder="Enter Hotel Type Description">
        <input type="text" asp-for="UserDetail.UserId" class="form-control" value="@Context.Session.GetString("uid")" hidden>
        <span asp-validation-for="HotelTypeName" class="text-danger"></span>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
    <br />
    <br />
    <a asp-controller="HType" asp-action="Index" class="btn btn-primary">Back to List</a>
</form>