@model IEnumerable<coreHotelRoomBookingUserPanel.Models.Hotels>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewFrontStyle.cshtml";
}



@*<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @foreach (var item in Model)
                {
                    <!--Thumbnail Starts-->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="@item.HotelImage" class="bd-placeholder-img card-img-top image" />


                            <div class="card-body">
                                <p class="card-text">@item.HotelName</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-controller="Home" asp-action="HotelRoomsIndex" asp-route-id="@item.HotelId" class="btn btn-sm btn-outline-secondary">View Rooms</a>
                                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Thumbnail Ends-->
                }

            </div>
        </div>
    </div>

</main>*@



