
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Basic.cshtml";
}



<div class="home">
    <div class="background_image"><img src="~/images/booking.jpg" /></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">Your Booking History</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="booking">
</div>



<div class="container">


    <h2>ChangePassword</h2>
    <br/>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="ChangePassword" asp-controller="Customer">
                <div class="container">
                    <div class="row">
                        <div>

                            <label>Current Password</label>
                            <div class="form-group pass_show">
                                <input type="password" name="oldpassword" class="form-control" placeholder="Current Password">
                            </div>
                            <label>New Password</label>
                            <div class="form-group pass_show">
                                <input type="password" name="newpassword" class="form-control" placeholder="New Password">
                            </div>
                            <label>Confirm Password</label>
                            <div class="form-group pass_show">
                                <input type="password" name="newpasswordagain" class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <button class="book_now_button" style="border:0px" type="submit" value="Save">Save</button>
                            </div>

                        </div>
                    
                    </div>
                </div>
            </form>
        </div>
    </div>




</div>
